@import '../colors'
@import '../fontSizes'

.card
    cursor: pointer
    // margin: 0 !important
    // border: none

    .cardTitle
        font-size: $heading3

    .cardOverlay
        display: flex
        justify-content: center
        align-items: center

        color: white
        background-color: rgba(0, 0, 0, 0.4)
        transition: .3s

    .cardOverlay:hover
        background-color: rgba(0, 0, 0, 0.1)
